.confirmation-page-25J {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 100%;

  .auto-group-kixn-rq2 {
    flex-shrink: 0;
    height: 10.5rem;
    margin-left: 0.1rem;
    position: relative;
    width: calc(100% - 0.1rem);

    .new-header-authenticated-bZe {
      align-items: center;
      box-sizing: border-box;
      display: flex;
      height: 8.5rem;
      left: 11.2rem;
      padding: 1.4rem 6.8rem 1.5rem 2.8rem;
      position: absolute;
      top: 0.7rem;
      width: 169.3rem;

      .coursequizzy-dWL {
        color: #112d4e;
        flex-shrink: 0;
        font-family: Poppins, 'Source Sans Pro';
        font-size: 3.6rem;
        font-weight: 600;
        line-height: 1.5;
        margin-right: 51.8rem;
        white-space: nowrap;
      }
      .frame-106-iGt {
        align-items: center;
        column-gap: 5.6rem;
        display: flex;
        flex-shrink: 0;
        height: calc(100% - 2.6rem);
        margin: 1.3rem 6.5rem 1.3rem 0rem;

        .home-QQc {
          color: #112d4e;
          flex-shrink: 0;
          font-family: Poppins, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.5;
          text-align: center;
          white-space: nowrap;
        }
        .courses-YFv {
          color: #112d4e;
          flex-shrink: 0;
          font-family: Poppins, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.5;
          text-align: center;
          white-space: nowrap;
        }
        .about-us-R4p {
          color: #112d4e;
          flex-shrink: 0;
          font-family: Poppins, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.5;
          text-align: center;
          white-space: nowrap;
        }
        .contact-Yv8 {
          color: #112d4e;
          flex-shrink: 0;
          font-family: Poppins, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.5;
          text-align: center;
          white-space: nowrap;
        }
      }
      .search-6Ax {
        flex-shrink: 0;
        height: 3rem;
        margin-right: 3.4rem;
        object-fit: contain;
        position: relative;
        vertical-align: top;
        width: 3rem;
      }
      .line-35-pse {
        background-color: #112d4e;
        flex-shrink: 0;
        height: 0.1rem;
        margin: 0rem 3.1rem 3.9rem 0rem;
        width: 0rem;
      }
      .group-115-YYk {
        align-items: center;
        display: flex;
        flex-shrink: 0;
        height: 100%;

        .nick-nelson-JH2 {
          color: #112d4e;
          flex-shrink: 0;
          font-family: Poppins, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.5;
          margin-right: 1.2rem;
          text-align: center;
          white-space: nowrap;
        }
        .avatars-3davatar13-Qqr {
          flex-shrink: 0;
          height: 5.6rem;
          object-fit: cover;
          vertical-align: top;
          width: 5.6rem;
        }
      }
    }
    .new-header-authenticated-w56 {
      background-color: #112d4e;
      height: 10.5rem;
      left: 0;
      position: absolute;
      top: 0;
      width: 192rem;

      .coursequizzy-qgG {
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        font-size: 3.6rem;
        font-weight: 600;
        height: 5.4rem;
        left: 14rem;
        line-height: 1.5;
        position: absolute;
        top: 2.2rem;
        white-space: nowrap;
        width: 25rem;
      }
      .frame-106-vxc {
        align-items: center;
        column-gap: 5.6rem;
        display: flex;
        height: 3rem;
        left: 90.8rem;
        position: absolute;
        top: 3.4rem;
        width: 48.4rem;

        .home-FEC {
          color: #ffffff;
          flex-shrink: 0;
          font-family: Poppins, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.5;
          text-align: center;
          white-space: nowrap;
        }
        .courses-bJ4 {
          color: #ffffff;
          flex-shrink: 0;
          font-family: Poppins, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.5;
          text-align: center;
          white-space: nowrap;
        }
        .about-us-LmS {
          color: #ffffff;
          flex-shrink: 0;
          font-family: Poppins, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.5;
          text-align: center;
          white-space: nowrap;
        }
        .contact-tnx {
          color: #ffffff;
          flex-shrink: 0;
          font-family: Poppins, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.5;
          text-align: center;
          white-space: nowrap;
        }
      }
      .search-qy6 {
        height: 3rem;
        left: 145.7rem;
        object-fit: contain;
        position: absolute;
        top: 3.4rem;
        vertical-align: top;
        width: 3rem;
      }
      .line-35-ndS {
        background-color: #ffffff;
        height: 0.1rem;
        left: 152.1rem;
        position: absolute;
        top: 2.9rem;
        width: 0rem;
      }
      .group-115-KNU {
        align-items: center;
        display: flex;
        height: 5.6rem;
        left: 155.2rem;
        position: absolute;
        top: 2.1rem;
        width: 18.5rem;

        .nick-nelson-Shz {
          color: #ffffff;
          flex-shrink: 0;
          font-family: Poppins, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.5;
          margin-right: 1.2rem;
          text-align: center;
          white-space: nowrap;
        }
        .avatars-3davatar13-B9n {
          flex-shrink: 0;
          height: 5.6rem;
          object-fit: cover;
          vertical-align: top;
          width: 5.6rem;
        }
      }
      .nick-nelson-WC4 {
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        font-size: 2rem;
        font-weight: 500;
        height: 3rem;
        left: 155.2rem;
        line-height: 1.5;
        position: absolute;
        text-align: center;
        top: 3.4rem;
        white-space: nowrap;
        width: 11.7rem;
      }
    }
  }
  .auto-group-lc5a-bjJ {
    background-color: #f2f7ff;
    box-sizing: border-box;
    flex-shrink: 0;
    height: 97.5rem;
    padding: 16.4rem 31.94rem 26.9rem 32rem;
    width: 100%;

    .group-266-vma {
      align-items: center;
      background: linear-gradient(180deg, #ffffff -0%, #81b1ff 72.92%);
      border-radius: 2rem;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 6.1rem 16.71rem 5.327rem 12.3rem;
      width: 100%;

      .png-transparent-round-green-check-mark-illustration-check-mark-bottle-material-green-tick-miscellaneous-angle-company-removebg-preview-1-EnG {
        flex-shrink: 0;
        height: 7.5rem;
        margin: 0rem 0rem 3.7rem 4.25rem;
        object-fit: cover;
        vertical-align: top;
        width: 7.5rem;
      }
      .quiz-submission-confirmation-VTJ {
        align-items: center;
        color: #112d4e;
        display: flex;
        flex-shrink: 0;
        font-family: Lato, 'Source Sans Pro';
        font-size: 3.2rem;
        font-weight: 700;
        justify-content: center;
        line-height: 1.2;
        margin: 0rem 0rem 0.85rem 4.25rem;
        white-space: nowrap;
      }
      .you-are-about-to-submit-your-quiz-aje {
        align-items: center;
        color: #112d4e;
        display: flex;
        flex-shrink: 0;
        font-family: Lato, 'Source Sans Pro';
        font-size: 3.2rem;
        font-weight: 400;
        justify-content: center;
        line-height: 1.2;
        margin: 0rem 0rem 2.65rem 4.25rem;
        white-space: nowrap;
      }
      .once-you-press-the-submit-quiz-button-you-cant-return-to-your-quiz-VLp {
        align-items: center;
        color: #112d4e;
        display: flex;
        flex-shrink: 0;
        font-family: Lato, 'Source Sans Pro';
        font-size: 3.2rem;
        font-weight: 400;
        justify-content: center;
        line-height: 1.2;
        margin: 0rem 0rem 4.4rem 4.35rem;
        white-space: nowrap;
      }
      .line-45-mJL {
        background-color: #000000;
        flex-shrink: 0;
        height: 0.1rem;
        margin: 0rem 1.457rem 1.2rem 0rem;
        width: 97.5932rem;
      }
      .auto-group-bfzl-Gkt {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        height: 4.7915rem;
        margin: 0rem 3.65rem 1.809rem 1.3rem;
        width: calc(100% - 4.95rem);

        .state-layer-b2U {
          background-color: rgba(29, 27, 32, 0.1199999973);
  border-radius: 2rem;
  box-sizing: border-box;
  flex-shrink: 0;
  height: 100%;
  overflow: hidden;
  padding: 1.496rem 1.103rem 1.496rem 1.103rem;
  position: relative;
  width: 4.0062rem;
  margin-right: auto;
  margin-top: 1rem;
          .container-uYx {
            border: solid 0.2rem #1d1b20;
  border-radius: 0.2rem;
  box-sizing: border-box;
  height: 1.8rem;
  width: 100%;
          }
        }
        .allow-this-preview-attempt-to-be-graded-in-the-grade-quiz-area-iHS {
          align-items: center;
          text-align: center;
          color: #112d4e;
          display: flex;
          flex-shrink: 0;
          font-family: Lato, 'Source Sans Pro';
          font-size: 3.2rem;
          font-weight: 400;
          justify-content: center;
          line-height: 1.2;
          margin-top: 0;
          white-space: nowrap;
        }
        
      }
      .auto-group-vbhn-CiQ {
        align-items: center;
        display: flex;
        flex-shrink: 0;
        height: 4.0727rem;
        margin: 0rem 0rem 0rem auto; /* Menggeser ke kanan sejauh mungkin */
        width: calc(100% - 51.523rem);

        .group-296-JmS {
          border-radius: 2rem;
          flex-shrink: 0;
          height: 100%;
          margin-right: 12.473rem;
          width: 17.527rem;

          .group-295-rY4 {
            border-radius: 2rem;
            height: 100%;
            width: 100%;

            .group-293-d32 {
              border-radius: 2rem;
              height: 100%;
              width: 100%;

              .group-253-NWQ {
                align-items: center;
  background-color: #0c50ff;
  border-radius: 2rem;
  color: #ffffff;
  text-align: center;
  display: flex;
  font-family: Lato, 'Source Sans Pro';
  font-size: 2rem;
  font-weight: 400;
  height: 100%;
  justify-content: center;
  line-height: 1.2;
  white-space: nowrap;
  width: 100%;
  text-align: center;
  margin-top: 0.5cm;
  margin-left: auto;
              }
            }
          }
        }
        .group-297-25A {
          border-radius: 2rem;
          flex-shrink: 0;
          height: 100%;
          width: 17.527rem;

          .group-267-BTr {
            border-radius: 2rem;
            height: 100%;
            width: 100%;

            .group-254-kWx {
              align-items: center;
  text-align: center;
  background-color: #fdfdfd;
  border: solid 0.1rem #000000;
  border-radius: 2rem;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: Lato, 'Source Sans Pro';
  font-size: 2rem;
  font-weight: 400;
  height: 100%;
  justify-content: center;
  line-height: 1.2;
  white-space: nowrap;
  width: 100%;
  margin-top: 0.5cm;
  margin-left: auto; /* Menggeser ke kanan sejauh mungkin */
            }
          }
        }
      }
    }
  }
}