@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  background-color: #00000000;
}

html::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #70707050;
}
.custom-x-scrollbar {
  scroll-behavior: smooth;
}
.custom-x-scrollbar::-webkit-scrollbar {
  height: 10px;
}

.custom-x-scrollbar::-webkit-scrollbar-track {
  background-color: #f3f3f3;
  border-radius: 8px;
}

.custom-x-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #70707050;
}
.courseQuizzy {
  color: #112d4e;
}
.bg-courseQuizzy {
  background-color: #112d4e;
}
.light-courseQuizzy {
  color: #dbe2ef;
}
.bg-light-courseQuizzy {
  background-color: #dbe2ef;
}
.light-gray {
  color: #f9f7f7;
}
.bg-light-gray {
  background-color: #f9f7f7;
}
